* {
  margin: 0;
  padding: 0; }

#tabla-carrito {
  padding: 0 !important;
  width: 98vw; }

body nav div {
  display: flex;
  justify-content: left; }
  body nav div div {
    width: 40px; }
    body nav div div img {
      height: 8vh; }
    body nav div div h1 {
      display: inline-block;
      font-size: 40px;
      color: #dd1515;
      font-family: 'Bebas Neue', cursive;
      margin-left: 15px; }
  body nav div button {
    margin: 5px; }
  body nav div div {
    width: 100vw; }
  body nav div button {
    margin-left: auto; }
  body nav div p {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px; }

body div div div div {
  text-align: center; }
  body div div div div h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-size: 25px;
    color: #dc3545; }

body #bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url(../images/jordan-banner.jpg); 
  background-size: cover;
  max-width: 100%;}
  body #bienvenida div {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: black;
    opacity: 90%; }
    body #bienvenida div h2 {
      font-family: 'Bebas Neue', cursive;
      font-size: 70px;
      color: #dc3545; }
    body #bienvenida div form {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column; }
      body #bienvenida div form input {
        margin: 3px; }
      body #bienvenida div form input::placeholder {
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        color: #292929;
        letter-spacing: 1px; }

body footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 10vh; }
  body footer h6 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #a02929;
    letter-spacing: 1px; }
  body footer div a {
    margin: 0 5px;
    color: #b14f4f; }
    * {
      margin: 0;
      padding: 0; }
    
    #tabla-carrito {
      padding: 0 !important;
      width: 98vw; }
    
    body nav div {
      display: flex;
      justify-content: left; }
      body nav div div {
        width: 40px; }
        body nav div div img {
          height: 8vh; }
        body nav div div h1 {
          display: inline-block;
          font-size: 40px;
          color: #dd1515;
          font-family: 'Bebas Neue', cursive;
          margin-left: 15px; }
      body nav div button {
        margin: 5px; }
      body nav div div {
        width: 100vw; }
      body nav div button {
        margin-left: auto; }
      body nav div p {
        font-family: 'Bebas Neue', cursive;
        color: #fff;
        font-size: 30px;
        letter-spacing: 2px; }
    
    body div div div div {
      text-align: center; }
      body div div div div h5 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1.5px;
        font-size: 25px;
        color: #dc3545; }
    
    body #bienvenida {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
      background-image: url(../images/jordan-banner.jpg); }
      body #bienvenida div {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        background: black;
        opacity: 90%; }
        body #bienvenida div h2 {
          font-family: 'Bebas Neue', cursive;
          font-size: 70px;
          color: #dc3545; }
        body #bienvenida div form {
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column; }
          body #bienvenida div form input {
            margin: 3px; }
          body #bienvenida div form input::placeholder {
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            color: #292929;
            letter-spacing: 1px; }
    
    body footer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      height: 10vh; }
      body footer h6 {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 15px;
        color: #a02929;
        letter-spacing: 1px; }
      body footer div a {
        margin: 0 5px;
        color: #b14f4f; }